html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-image: url(img/starBkgd1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

header {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}

header h1 {
  font-size: 3.5rem;
  margin-bottom: 0;
}

header p {
  font-size: 1.4rem;
  font-style: italic;
  padding: 0;
}

main {
  flex: 1;
  padding: 2rem 0;
}

main form {
  width: 600px;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 3rem 2rem;
  margin: auto;
}

.form-control {
  font-size: 1.2rem;
  color: white;
  padding: 1rem 0;
}

.form-control label {
  padding: 0.4rem 0;
}

.zTitle {
  display: block;
  font-style: italic;
  color: green;
  font-size: 1.2rem;
}

.form-control label h3 {
  font-size: 1rem;
}

.form-control input,
.form-control select,
.form-control textarea {
  box-sizing: border-box;
  border-radius: 0.1rem;
  border: none;
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
}

input[type='submit'] {
  width: 100%;
  border: none;
  border-radius: 0.1rem;
  padding: 0.7rem;
  margin: 2rem 0 0 0;
  font-size: 1.5rem;
  background-color: rgb(63, 2, 63);
  color: white;
}

input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: 0.4s;
}

#age {
  display: flex;
}

#age .age input {
  width: 11rem;
  padding: 0.5rem 2rem;
  font-size: 5rem;
  font-weight: bold;
  display: block;
  border: none;
}

#age .zodiac {
  flex: 1;
  padding: 1.5rem;
}

.zodiac #zodiac {
  background: white;
  height: 6rem;
  border-radius: 0.1rem;
  padding: 0.6rem 0 0 0;
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 4rem;
}

#planets,
#elements,
#chinese {
  display: none;
}

#zodiacSigns {
  text-align: center;
}

#zodiacSigns div {
  display: inline-block;
  vertical-align: top;
  height: 380px;
  padding: 1rem 0;
  margin: 0.3rem 0;
  width: 49%;
}

#zodiacSigns input[type='radio'],
.hidden {
  display: none;
}

#zodiacSigns input[type='radio']:not(:disabled) ~ label {
  cursor: pointer;
}

#zodiacSigns label {
  display: block;
  height: 100%;
  background: white;
  color: black;
  border: 2px solid black;
  border-radius: 0.2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  position: relative;
}

#zodiacSigns label:hover {
  background-color: #8b8c8f;
  color: white;
  transition: 0.4s;
}

#zodiacSigns input[type='radio']:checked + label {
  background: rgb(63, 2, 63);
  color: white;
}

#zodiacSigns input[type='radio']:checked + label::after {
  color: rgb(63, 2, 63);
  font-family: FontAwesome;
  border: 2px solid black;
  content: '';
  font-size: 2rem;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: white;
}

#filterzodiacs {
  padding: 1rem 0 2rem 0;
}

#filterzodiacs .cbx {
  position: relative;
  display: inline-block;
  top: 1px;
  width: 27px;
  height: 17px;
  border: 1px solid #c8ccd4;
  border-radius: 3px;
  vertical-align: middle;
  transition: background 0.1s ease;
  cursor: pointer;
}

#filterzodiacs .cbx:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 7px;
  width: 10px;
  height: 19px;
  opacity: 0;
  transform: rotate(45deg) scale(0);
  border-right: 4px solid #fff;
  border-bottom: 4px solid #fff;
  transition: all 0.3s ease;
  transition-delay: 0.15s;
}
#filterzodiacs .lbl {
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

#filterzodiacs #planets div,
#filterzodiacs #elements div,
#filterzodiacs #chinese div {
  display: inline-block;
  width: 10rem;
  padding: 0.2rem 0;
}

#filterzodiacs #sun:checked ~ .cbx,
#filterzodiacs #mercury:checked ~ .cbx,
#filterzodiacs #venus:checked ~ .cbx,
#filterzodiacs #earth:checked ~ .cbx,
#filterzodiacs #moon:checked ~ .cbx,
#filterzodiacs #mars:checked ~ .cbx,
#filterzodiacs #jupiter:checked ~ .cbx,
#filterzodiacs #saturn:checked ~ .cbx,
#filterzodiacs #neptuno:checked ~ .cbx,
#filterzodiacs #uranus:checked ~ .cbx,
#filterzodiacs #pluto:checked ~ .cbx {
  background: rgb(63, 2, 63);
  animation: jelly 0.6s ease;
}

#filterzodiacs #dragon:checked ~ .cbx,
#filterzodiacs #snake:checked ~ .cbx,
#filterzodiacs #horse:checked ~ .cbx,
#filterzodiacs #goat:checked ~ .cbx,
#filterzodiacs #monkey:checked ~ .cbx,
#filterzodiacs #dog:checked ~ .cbx,
#filterzodiacs #pig:checked ~ .cbx,
#filterzodiacs #rat:checked ~ .cbx,
#filterzodiacs #ox:checked ~ .cbx,
#filterzodiacs #tiger:checked ~ .cbx,
#filterzodiacs #rabbit:checked ~ .cbx {
  background: rgb(63, 2, 63);
  animation: jelly 0.6s ease;
}

#filterzodiacs #air:checked ~ .cbx,
#filterzodiacs #fire:checked ~ .cbx,
#filterzodiacs #land:checked ~ .cbx,
#filterzodiacs #water:checked ~ .cbx {
  background: rgb(63, 2, 63);
  animation: jelly 0.6s ease;
}

#filterzodiacs #sun:checked ~ .cbx:after,
#filterzodiacs #mercury:checked ~ .cbx:after,
#filterzodiacs #venus:checked ~ .cbx:after,
#filterzodiacs #earth:checked ~ .cbx:after,
#filterzodiacs #moon:checked ~ .cbx:after,
#filterzodiacs #mars:checked ~ .cbx:after,
#filterzodiacs #jupiter:checked ~ .cbx:after,
#filterzodiacs #saturn:checked ~ .cbx:after,
#filterzodiacs #neptuno:checked ~ .cbx:after,
#filterzodiacs #uranus:checked ~ .cbx:after,
#filterzodiacs #pluto:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

#filterzodiacs #dragon:checked ~ .cbx:after,
#filterzodiacs #snake:checked ~ .cbx:after,
#filterzodiacs #horse:checked ~ .cbx:after,
#filterzodiacs #goat:checked ~ .cbx:after,
#filterzodiacs #monkey:checked ~ .cbx:after,
#filterzodiacs #dog:checked ~ .cbx:after,
#filterzodiacs #pig:checked ~ .cbx:after,
#filterzodiacs #rat:checked ~ .cbx:after,
#filterzodiacs #ox:checked ~ .cbx:after,
#filterzodiacs #tiger:checked ~ .cbx:after,
#filterzodiacs #rabbit:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

#filterzodiacs #air:checked ~ .cbx:after,
#filterzodiacs #fire:checked ~ .cbx:after,
#filterzodiacs #land:checked ~ .cbx:after,
#filterzodiacs #water:checked ~ .cbx:after {
  opacity: 1;
  transform: rotate(45deg) scale(1);
}

@-moz-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@-o-keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes jelly {
  from {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.25, 0.75);
  }
  40% {
    transform: scale(0.75, 1.25);
  }
  50% {
    transform: scale(1.15, 0.85);
  }
  65% {
    transform: scale(0.95, 1.05);
  }
  75% {
    transform: scale(1.05, 0.95);
  }
  to {
    transform: scale(1, 1);
  }
}

.hide {
  display: none !important;
}
